In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv("HR-Employee-Attrition.csv")
df = df.dropna()
df = df.drop_duplicates()

print(df.head())

   Age Attrition     BusinessTravel  DailyRate              Department  \
0   41       Yes      Travel_Rarely       1102                   Sales
1   49        No  Travel_Frequently        279  Research & Development
2   37       Yes      Travel_Rarely       1373  Research & Development
3   33        No  Travel_Frequently       1392  Research & Development
4   27        No      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

           ...           RelationshipSatisfaction StandardHours  \
0          ...                                  1            80
1          ...                                  4            80
2          ...                                  2            80
3          ...                                  3            80
4          ...                                  4            80

   StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  \
0                 0                  8                      0               1
1                 1                 10                      3               3
2                 0                  7                      3               3
3                 0                  8                      3               3
4                 1                  6                      3               3

   YearsAtCompany YearsInCurrentRole  YearsSinceLastPromotion  \
0               6                  4                        0
1              10                  7                        1
2               0                  0                        0
3               8                  7                        3
4               2                  2                        2

   YearsWithCurrManager
0                     5
1                     7
2                     0
3                     0
4                     2

[5 rows x 35 columns]

In [7]:
att_yes = df[df['Attrition']== 'Yes']

print(att_yes)

      Age Attrition     BusinessTravel  DailyRate              Department  \
0      41       Yes      Travel_Rarely       1102                   Sales
2      37       Yes      Travel_Rarely       1373  Research & Development
14     28       Yes      Travel_Rarely        103  Research & Development
21     36       Yes      Travel_Rarely       1218                   Sales
24     34       Yes      Travel_Rarely        699  Research & Development
26     32       Yes  Travel_Frequently       1125  Research & Development
33     39       Yes      Travel_Rarely        895                   Sales
34     24       Yes      Travel_Rarely        813  Research & Development
36     50       Yes      Travel_Rarely        869                   Sales
42     26       Yes      Travel_Rarely       1357  Research & Development
45     41       Yes      Travel_Rarely       1360  Research & Development
50     48       Yes      Travel_Rarely        626  Research & Development
51     28       Yes      Travel_Rarely       1434  Research & Development
69     36       Yes      Travel_Rarely        318  Research & Development
89     46       Yes      Travel_Rarely        669                   Sales
100    37       Yes      Travel_Rarely        807         Human Resources
102    20       Yes  Travel_Frequently        871  Research & Development
107    25       Yes      Travel_Rarely        240                   Sales
111    34       Yes  Travel_Frequently        658  Research & Development
122    56       Yes      Travel_Rarely        441  Research & Development
124    31       Yes      Travel_Rarely        249                   Sales
126    58       Yes      Travel_Rarely        147  Research & Development
127    19       Yes      Travel_Rarely        528                   Sales
132    31       Yes      Travel_Rarely        542                   Sales
136    51       Yes  Travel_Frequently       1150  Research & Development
140    32       Yes      Travel_Rarely       1033  Research & Development
171    19       Yes  Travel_Frequently        602                   Sales
177    19       Yes      Travel_Rarely        303  Research & Development
182    41       Yes      Travel_Rarely       1356                   Sales
192    35       Yes      Travel_Rarely        556  Research & Development
...   ...       ...                ...        ...                     ...
1262   43       Yes  Travel_Frequently        807  Research & Development
1271   21       Yes      Travel_Rarely        337                   Sales
1273   22       Yes      Travel_Rarely       1294  Research & Development
1279   44       Yes  Travel_Frequently        429  Research & Development
1281   35       Yes      Travel_Rarely        303                   Sales
1290   34       Yes  Travel_Frequently        234  Research & Development
1291   37       Yes      Travel_Rarely        370  Research & Development
1297   26       Yes      Travel_Rarely        920         Human Resources
1298   46       Yes      Travel_Rarely        261  Research & Development
1312   31       Yes      Travel_Rarely        359         Human Resources
1313   29       Yes      Travel_Rarely        350         Human Resources
1326   32       Yes      Travel_Rarely        414                   Sales
1332   29       Yes  Travel_Frequently        459  Research & Development
1333   46       Yes      Travel_Rarely       1254                   Sales
1338   30       Yes      Travel_Rarely        945                   Sales
1339   22       Yes      Travel_Rarely        391  Research & Development
1353   34       Yes         Non-Travel        967  Research & Development
1354   56       Yes      Travel_Rarely       1162  Research & Development
1365   29       Yes  Travel_Frequently        746                   Sales
1369   28       Yes      Travel_Rarely       1475                   Sales
1375   32       Yes  Travel_Frequently        238  Research & Development
1379   27       Yes  Travel_Frequently       1337         Human Resources
1390   28       Yes      Travel_Rarely       1404  Research & Development
1395   31       Yes  Travel_Frequently        754                   Sales
1396   53       Yes      Travel_Rarely       1168                   Sales
1438   23       Yes  Travel_Frequently        638                   Sales
1442   29       Yes      Travel_Rarely       1092  Research & Development
1444   56       Yes      Travel_Rarely        310  Research & Development
1452   50       Yes  Travel_Frequently        878                   Sales
1461   50       Yes      Travel_Rarely        410                   Sales

      DistanceFromHome  Education    EducationField  EmployeeCount  \
0                    1          2     Life Sciences              1
2                    2          2             Other              1
14                  24          3     Life Sciences              1
21                   9          4     Life Sciences              1
24                   6          1           Medical              1
26                  16          1     Life Sciences              1
33                   5          3  Technical Degree              1
34                   1          3           Medical              1
36                   3          2         Marketing              1
42                  25          3     Life Sciences              1
45                  12          3  Technical Degree              1
50                   1          2     Life Sciences              1
51                   5          4  Technical Degree              1
69                   9          3           Medical              1
89                   9          2           Medical              1
100                  6          4   Human Resources              1
102                  6          3     Life Sciences              1
107                  5          3         Marketing              1
111                  7          3     Life Sciences              1
122                 14          4     Life Sciences              1
124                  6          4     Life Sciences              1
126                 23          4           Medical              1
127                 22          1         Marketing              1
132                 20          3     Life Sciences              1
136                  8          4     Life Sciences              1
140                  9          3           Medical              1
171                  1          1  Technical Degree              1
177                  2          3     Life Sciences              1
182                 20          2         Marketing              1
192                 23          2     Life Sciences              1
...                ...        ...               ...            ...
1262                17          3  Technical Degree              1
1271                 7          1         Marketing              1
1273                 8          1           Medical              1
1279                 1          2           Medical              1
1281                27          3     Life Sciences              1
1290                 9          4     Life Sciences              1
1291                10          4           Medical              1
1297                20          2           Medical              1
1298                21          2           Medical              1
1312                18          5   Human Resources              1
1313                13          3   Human Resources              1
1326                 2          4         Marketing              1
1332                24          2     Life Sciences              1
1333                10          3     Life Sciences              1
1338                 9          3           Medical              1
1339                 7          1     Life Sciences              1
1353                16          4  Technical Degree              1
1354                24          2     Life Sciences              1
1365                24          3  Technical Degree              1
1369                13          2         Marketing              1
1375                 5          2     Life Sciences              1
1379                22          3   Human Resources              1
1390                17          3  Technical Degree              1
1395                26          4         Marketing              1
1396                24          4     Life Sciences              1
1438                 9          3         Marketing              1
1442                 1          4           Medical              1
1444                 7          2  Technical Degree              1
1452                 1          4     Life Sciences              1
1461                28          3         Marketing              1

      EmployeeNumber          ...           RelationshipSatisfaction  \
0                  1          ...                                  1
2                  4          ...                                  2
14                19          ...                                  2
21                27          ...                                  2
24                31          ...                                  3
26                33          ...                                  2
33                42          ...                                  3
34                45          ...                                  1
36                47          ...                                  3
42                55          ...                                  3
45                58          ...                                  4
50                64          ...                                  4
51                65          ...                                  3
69                90          ...                                  1
89               118          ...                                  4
100              133          ...                                  4
102              137          ...                                  2
107              142          ...                                  4
111              147          ...                                  4
122              161          ...                                  1
124              163          ...                                  2
126              165          ...                                  4
127              167          ...                                  4
132              175          ...                                  3
136              179          ...                                  4
140              190          ...                                  1
171              235          ...                                  1
177              243          ...                                  3
182              248          ...                                  4
192              261          ...                                  1
...              ...          ...                                ...
1262            1767          ...                                  4
1271            1780          ...                                  2
1273            1783          ...                                  3
1279            1792          ...                                  3
1281            1797          ...                                  4
1290            1807          ...                                  3
1291            1809          ...                                  2
1297            1818          ...                                  3
1298            1821          ...                                  4
1312            1842          ...                                  3
1313            1844          ...                                  4
1326            1862          ...                                  3
1332            1868          ...                                  2
1333            1869          ...                                  3
1338            1876          ...                                  3
1339            1878          ...                                  1
1353            1905          ...                                  2
1354            1907          ...                                  4
1365            1928          ...                                  4
1369            1933          ...                                  4
1375            1939          ...                                  1
1379            1944          ...                                  1
1390            1960          ...                                  1
1395            1967          ...                                  3
1396            1968          ...                                  2
1438            2023          ...                                  1
1442            2027          ...                                  2
1444            2032          ...                                  4
1452            2044          ...                                  4
1461            2055          ...                                  2

     StandardHours  StockOptionLevel  TotalWorkingYears  \
0               80                 0                  8
2               80                 0                  7
14              80                 0                  6
21              80                 0                 10
24              80                 0                  8
26              80                 0                 10
33              80                 1                 19
34              80                 1                  6
36              80                 0                  3
42              80                 0                  1
45              80                 0                 23
50              80                 0                 23
51              80                 0                  2
69              80                 1                  2
89              80                 0                  9
100             80                 0                  7
102             80                 0                  1
107             80                 0                  6
111             80                 0                  9
122             80                 3                  7
124             80                 0                 12
126             80                 1                 40
127             80                 0                  0
132             80                 1                  4
136             80                 0                 18
140             80                 0                 10
171             80                 0                  1
177             80                 0                  1
182             80                 0                  4
192             80                 0                  8
...            ...               ...                ...
1262            80                 1                  6
1271            80                 0                  1
1273            80                 0                  1
1279            80                 3                  6
1281            80                 0                 10
1290            80                 1                 11
1291            80                 0                 10
1297            80                 0                  6
1298            80                 1                 13
1312            80                 0                  2
1313            80                 3                  4
1326            80                 0                  7
1332            80                 0                  1
1333            80                 3                 14
1338            80                 0                  1
1339            80                 0                  1
1353            80                 1                  5
1354            80                 0                  5
1365            80                 0                  1
1369            80                 0                  6
1375            80                 0                  8
1379            80                 0                  1
1390            80                 1                  6
1395            80                 0                 10
1396            80                 0                 15
1438            80                 1                  1
1442            80                 3                  4
1444            80                 1                 14
1452            80                 2                 12
1461            80                 1                 20

      TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                         0               1               6
2                         3               3               0
14                        4               3               4
21                        4               3               5
24                        2               3               4
26                        5               3              10
33                        6               4               1
34                        2               2               2
36                        2               3               3
42                        2               2               1
45                        0               3              22
50                        2               3               1
51                        3               2               2
69                        0               2               1
89                        3               3               9
100                       3               3               3
102                       5               3               1
107                       1               3               6
111                       3               3               9
122                       2               3               5
124                       3               2               7
126                       3               2              40
127                       2               2               0
132                       2               3               2
136                       2               3               4
140                       2               4               5
171                       5               4               0
177                       3               2               1
182                       5               2               4
192                       1               3               1
...                     ...             ...             ...
1262                      4               3               1
1271                      3               3               1
1273                      6               3               1
1279                      2               2               5
1281                      2               3              10
1290                      3               2               7
1291                      4               1              10
1297                      3               3               5
1298                      2               4               9
1312                      4               3               1
1313                      3               3               2
1326                      3               2               2
1332                      3               2               1
1333                      2               3               8
1338                      3               2               1
1339                      2               3               1
1353                      2               3               5
1354                      3               3               4
1365                      3               3               1
1369                      0               3               2
1375                      2               3               4
1379                      2               3               1
1390                      2               2               4
1395                      4               3              10
1396                      2               2               2
1438                      3               2               1

In [8]:
att_no = df[df['Attrition']== 'No']

print(att_no)

      Age Attrition     BusinessTravel  DailyRate              Department  \
1      49        No  Travel_Frequently        279  Research & Development
3      33        No  Travel_Frequently       1392  Research & Development
4      27        No      Travel_Rarely        591  Research & Development
5      32        No  Travel_Frequently       1005  Research & Development
6      59        No      Travel_Rarely       1324  Research & Development
7      30        No      Travel_Rarely       1358  Research & Development
8      38        No  Travel_Frequently        216  Research & Development
9      36        No      Travel_Rarely       1299  Research & Development
10     35        No      Travel_Rarely        809  Research & Development
11     29        No      Travel_Rarely        153  Research & Development
12     31        No      Travel_Rarely        670  Research & Development
13     34        No      Travel_Rarely       1346  Research & Development
15     29        No      Travel_Rarely       1389  Research & Development
16     32        No      Travel_Rarely        334  Research & Development
17     22        No         Non-Travel       1123  Research & Development
18     53        No      Travel_Rarely       1219                   Sales
19     38        No      Travel_Rarely        371  Research & Development
20     24        No         Non-Travel        673  Research & Development
22     34        No      Travel_Rarely        419  Research & Development
23     21        No      Travel_Rarely        391  Research & Development
25     53        No      Travel_Rarely       1282  Research & Development
27     42        No      Travel_Rarely        691                   Sales
28     44        No      Travel_Rarely        477  Research & Development
29     46        No      Travel_Rarely        705                   Sales
30     33        No      Travel_Rarely        924  Research & Development
31     44        No      Travel_Rarely       1459  Research & Development
32     30        No      Travel_Rarely        125  Research & Development
35     43        No      Travel_Rarely       1273  Research & Development
37     35        No      Travel_Rarely        890                   Sales
38     36        No      Travel_Rarely        852  Research & Development
...   ...       ...                ...        ...                     ...
1435   44        No      Travel_Rarely       1037  Research & Development
1436   21        No      Travel_Rarely        501                   Sales
1437   39        No         Non-Travel        105  Research & Development
1439   36        No      Travel_Rarely        557                   Sales
1440   36        No  Travel_Frequently        688  Research & Development
1441   56        No         Non-Travel        667  Research & Development
1443   42        No      Travel_Rarely        300  Research & Development
1445   41        No      Travel_Rarely        582  Research & Development
1446   34        No      Travel_Rarely        704                   Sales
1447   36        No         Non-Travel        301                   Sales
1448   41        No      Travel_Rarely        930                   Sales
1449   32        No      Travel_Rarely        529  Research & Development
1450   35        No      Travel_Rarely       1146         Human Resources
1451   38        No      Travel_Rarely        345                   Sales
1453   36        No      Travel_Rarely       1120                   Sales
1454   45        No      Travel_Rarely        374                   Sales
1455   40        No      Travel_Rarely       1322  Research & Development
1456   35        No  Travel_Frequently       1199  Research & Development
1457   40        No      Travel_Rarely       1194  Research & Development
1458   35        No      Travel_Rarely        287  Research & Development
1459   29        No      Travel_Rarely       1378  Research & Development
1460   29        No      Travel_Rarely        468  Research & Development
1462   39        No      Travel_Rarely        722                   Sales
1463   31        No         Non-Travel        325  Research & Development
1464   26        No      Travel_Rarely       1167                   Sales
1465   36        No  Travel_Frequently        884  Research & Development
1466   39        No      Travel_Rarely        613  Research & Development
1467   27        No      Travel_Rarely        155  Research & Development
1468   49        No  Travel_Frequently       1023                   Sales
1469   34        No      Travel_Rarely        628  Research & Development

      DistanceFromHome  Education    EducationField  EmployeeCount  \
1                    8          1     Life Sciences              1
3                    3          4     Life Sciences              1
4                    2          1           Medical              1
5                    2          2     Life Sciences              1
6                    3          3           Medical              1
7                   24          1     Life Sciences              1
8                   23          3     Life Sciences              1
9                   27          3           Medical              1
10                  16          3           Medical              1
11                  15          2     Life Sciences              1
12                  26          1     Life Sciences              1
13                  19          2           Medical              1
15                  21          4     Life Sciences              1
16                   5          2     Life Sciences              1
17                  16          2           Medical              1
18                   2          4     Life Sciences              1
19                   2          3     Life Sciences              1
20                  11          2             Other              1
22                   7          4     Life Sciences              1
23                  15          2     Life Sciences              1
25                   5          3             Other              1
27                   8          4         Marketing              1
28                   7          4           Medical              1
29                   2          4         Marketing              1
30                   2          3           Medical              1
31                  10          4             Other              1
32                   9          2           Medical              1
35                   2          2           Medical              1
37                   2          3         Marketing              1
38                   5          4     Life Sciences              1
...                ...        ...               ...            ...
1435                 1          3           Medical              1
1436                 5          1           Medical              1
1437                 9          3     Life Sciences              1
1439                 3          3           Medical              1
1440                 4          2     Life Sciences              1
1441                 1          4     Life Sciences              1
1443                 2          3     Life Sciences              1
1445                28          4     Life Sciences              1
1446                28          3         Marketing              1
1447                15          4         Marketing              1
1448                 3          3     Life Sciences              1
1449                 2          3  Technical Degree              1
1450                26          4     Life Sciences              1
1451                10          2     Life Sciences              1
1453                11          4         Marketing              1
1454                20          3     Life Sciences              1
1455                 2          4     Life Sciences              1
1456                18          4     Life Sciences              1
1457                 2          4           Medical              1
1458                 1          4     Life Sciences              1
1459                13          2             Other              1
1460                28          4           Medical              1
1462                24          1         Marketing              1
1463                 5          3           Medical              1
1464                 5          3             Other              1
1465                23          2           Medical              1
1466                 6          1           Medical              1
1467                 4          3     Life Sciences              1
1468                 2          3           Medical              1
1469                 8          3           Medical              1

      EmployeeNumber          ...           RelationshipSatisfaction  \
1                  2          ...                                  4
3                  5          ...                                  3
4                  7          ...                                  4
5                  8          ...                                  3
6                 10          ...                                  1
7                 11          ...                                  2
8                 12          ...                                  2
9                 13          ...                                  2
10                14          ...                                  3
11                15          ...                                  4
12                16          ...                                  4
13                18          ...                                  3
15                20          ...                                  3
16                21          ...                                  4
17                22          ...                                  2
18                23          ...                                  3
19                24          ...                                  3
20                26          ...                                  4
22                28          ...                                  3
23                30          ...                                  4
25                32          ...                                  4
27                35          ...                                  4
28                36          ...                                  4
29                38          ...                                  4
30                39          ...                                  4
31                40          ...                                  4
32                41          ...                                  1
35                46          ...                                  4
37                49          ...                                  1
38                51          ...                                  4
...              ...          ...                                ...
1435            2020          ...                                  3
1436            2021          ...                                  4
1437            2022          ...                                  3
1439            2024          ...                                  3
1440            2025          ...                                  2
1441            2026          ...                                  1
1443            2031          ...                                  1
1445            2034          ...                                  3
1446            2035          ...                                  4
1447            2036          ...                                  1
1448            2037          ...                                  3
1449            2038          ...                                  4
1450            2040          ...                                  3
1451            2041          ...                                  3
1453            2045          ...                                  1
1454            2046          ...                                  3
1455            2048          ...                                  4
1456            2049          ...                                  4
1457            2051          ...                                  2
1458            2052          ...                                  4
1459            2053          ...                                  1
1460            2054          ...                                  2
1462            2056          ...                                  1
1463            2057          ...                                  2
1464            2060          ...                                  4
1465            2061          ...                                  3
1466            2062          ...                                  1
1467            2064          ...                                  2
1468            2065          ...                                  4
1469            2068          ...                                  1

     StandardHours  StockOptionLevel  TotalWorkingYears  \
1               80                 1                 10
3               80                 0                  8
4               80                 1                  6
5               80                 0                  8
6               80                 3                 12
7               80                 1                  1
8               80                 0                 10
9               80                 2                 17
10              80                 1                  6
11              80                 0                 10
12              80                 1                  5
13              80                 1                  3
15              80                 1                 10
16              80                 2                  7
17              80                 2                  1
18              80                 0                 31
19              80                 0                  6
20              80                 1                  5
22              80                 0                 13
23              80                 0                  0
25              80                 1                 26
27              80                 1                 10
28              80                 1                 24
29              80                 0                 22
30              80                 0                  7
31              80                 0                  9
32              80                 0                 10
35              80                 2                  6
37              80                 0                  2
38              80                 1                  6
...            ...               ...                ...
1435            80                 0                  6
1436            80                 0                  2
1437            80                 0                 21
1439            80                 2                 10
1440            80                 3                 18
1441            80                 1                 13
1443            80                 0                 24
1445            80                 1                 21
1446            80                 2                  8
1447            80                 1                 15
1448            80                 1                 14
1449            80                 0                  4
1450            80                 0                  9
1451            80                 1                 10
1453            80                 1                  8
1454            80                 0                  8
1455            80                 0                  8
1456            80                 2                 10
1457            80                 3                 20
1458            80                 1                  4
1459            80                 1                 10
1460            80                 0                  5
1462            80                 1                 21
1463            80                 0                 10
1464            80                 0                  5
1465            80                 1                 17
1466            80                 1                  9
1467            80                 1                  6
1468            80                 0                 17
1469            80                 0                  6

      TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
1                         3               3              10
3                         3               3               8
4                         3               3               2
5                         2               2               7
6                         3               2               1
7                         2               3               1
8                         2               3               9
9                         3               2               7
10                        5               3               5
11                        3               3               9
12                        1               2               5
13                        2               3               2
15                        1               3              10
16                        5               2               6
17                        2               2               1
18                        3               3              25
19                        3               3               3
20                        5               2               4
22                        4               3              12
23                        6               3               0
25                        3               2              14
27                        2               3               9
28                        4               3              22
29                        2               2               2
30                        3               3               1
31                        5               4               4
32                        5               3              10
35                        3               2               5
37                        3               3               2
38                        3               4               1
...                     ...             ...             ...
1435                      2               3               4
1436                      6               3               2
1437                      3               2               6
1439                      2               3               9
1440                      3               3               4
1441                      2               2              13
1443                      2               2              22
1445                      3               3              20
1446                      2               3               8
1447                      4               2              15
1448                      5               3               5
1449                      4               3               4
1450                      2               3               9
1451                      1               3              10
1453                      2               2               6
1454                      3               3               5
1455                      2               3               2
1456                      2               4              10
1457                      2               3               5
1458                      5               3               4
1459                      2               3               4
1460                      3               1               5
1462                      2               2              20
1463                      2               3               9
1464                      2               3               4
1465                      3               3               5